.canvas-root {
  flex: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: crosshair;
}

.canvas-root div.drawn-line {
  position: absolute;
  height: 1.5pt;
  z-index: 1;
}